{% extends 'extends/base.html' %}
{% block menu %}
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-newspaper"></i>
                    <p>
                        Контент
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'main:products' %}" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Список товаров</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'main:clients' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Клиенты</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'main:employees' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Сотрудники</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'main:contrageny' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Контрагены</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-truck"></i>
                    <p>
                        Рейсы <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'route:list_route_url' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Список</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'route:financial_report' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Финансовый отчет</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'route:list_rt' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Прием/передача</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'route:reg_places' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Места оформления</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'route:directions' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Направления</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'route:currency' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Валюты</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'route:service_price' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Цены сервисов</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item menu">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-cash-register"></i>
                    <p>
                        Финансы
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'financial:cash_box' %}" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Кассы</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'financial:reports' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Отчет</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'financial:articles' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Статьи</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'financial:operations' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Операции</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'financial:prepaid' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Авансы</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'financial:fines' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Штрафы</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'financial:work_pay' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Сдельная оплата</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'financial:loading_pay' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Оплата за погрузку</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'financial:salary' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Зарплата</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item menu">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-database"></i>
                    <p>
                        Склады
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'warehouse:list_warehouse' %}" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Список</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'warehouse:list_category' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Категории наименований</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'warehouse:list_naming' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Список наименований</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'warehouse:wh_operations' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Операции</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'warehouse:ostatok' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Остаток</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'warehouse:wh_report' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Отчет</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'warehouse:bag_report' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Отчет по мешкам</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item menu">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-calculator"></i>
                    <p>
                        Дебитировка
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'debits:report' %}" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Отчет</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'debits:list_income' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Приходник</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'debits:clientReport' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Отчет по клиентам</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'debits:clientReport_tonnage' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Отчет по клиентам - Тоннаж</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'debits:agentofclient' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Контрагенты клиента</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item menu">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Cистема
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'systems:users' %}" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Пользователи</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock %}