{% extends 'extends/base.html' %}
{% block menu %}
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-newspaper"></i>
                    <p>
                        Рейсы
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'route:list_route_url' %}" class="nav-link active">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Список</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-newspaper"></i>
                    <p>
                        Финансы
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'financial:operations' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Операции</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
{% endblock %}