{% extends base_template_name %}
{% load static %}
{% load formset_tags %}
{% load widget_tweaks %}
{% block css %}
    <style>
        table {
            background-color: transparent;
        }
        table {
            border-spacing: 0;
            border-collapse: collapse;
        }
    </style>

{% endblock %}
{% block content_header %}
    <div class="content-header">
        <div class="container-fluid">

            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Просмотр приходника</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'main:home_page' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'financial:operations' %}">Список операций</a></li>
                        <li class="breadcrumb-item active">Просмотр приходника</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="card card-primary card-outline font_size">
              <div class="card-body">

                <table width="100%" style="font-size: 14px;">
                    <tr><td align="center"><b>ОсОО "SapatCargo"</b></td></tr>
                    <tr><td style="height: 20px;"> </td></tr>
                    <tr><td align="center">Квитанция<br>
                        к приходному кассовому ордеру<BR>
                        №{{ obj.pk }} от {{ obj.date|date:"c" }}</td></tr>
                    <tr><td></td></tr>
                    <tr><td><BR>Принято от: ({{ obj.agent.pk }}) {{ obj.agent.fullname }} </td></tr>
                    <tr><td style="height: 20px;"> </td></tr>
                    <tr><td>Основание: {{ obj.wh_article.name }}</td></tr>
                    <tr><td style="height: 20px;"> </td></tr>

                    {% for ob in obj_inner %}
                        <tr>
                            <td>

                                    {% if ob.route %}
                                            {{ ob.route.pk }} ({{ ob.route.country_recipient.name }})
                                        {% endif %}
                                    *{{ ob.client.pk }}*
                               {{ ob.sum }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr><td style="height: 20px;"></td></tr>
                    <tr><td>Сумма итого: <b>{{ obj.sum }} {{ obj.currency.name }}</b></td></tr>
                    <tr><td style="height: 20px;"> </td></tr>
                    <tr><td>Получил кассир: {{ obj.added_by.first_name }}&nbsp;{{ obj.added_by.last_name }}</td></tr>
                    <tr><td style="height: 20px;"> </td></tr>
                </table>

                <BR>

              {% if user.role == 6 %}
                <a class="btn btn-success print"
                   href="{% url 'debits:income_print2' obj.pk %}">
                    <i class="fa fa-fw fa-print"></i> Печать
                </a>
            {% else %}
                <div class="btn-group">
                    <a class="btn btn-success print" href="{% url 'debits:income_print2' obj.pk %}">
                        <i class="fa fa-fw fa-print"></i> Печать
                    </a>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="dropdown-item" href="{% url 'debits:income_edit' obj.pk %}">
                            <i class="fa fa-fw fa-edit"></i> Редактировать</a></li>
                    </ul>
                </div>
            {% endif %}

            </div>
    </div>
{% endblock %}
