{% extends base_template_name %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <style>
    table{
            table-layout: auto;
            border-collapse: collapse;
        }
    </style>
{% endblock %}
{% block content_header %}

    <div class="content-header">
        <div class="container-fluid">

            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Отчет по клиентам</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'main:home_page' %}">Главная</a></li>
                        <li class="breadcrumb-item active">Отчет по клиентам</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <script type="text/javascript">
        let url = "{% url "debits:routeCR_jx" %}";
    </script>

    <form method="post">
        {% csrf_token %}
        <div class="card card-primary card-outline">
            <div class="card-body">

                <div class="row">
                    <div class="col-3">
                        <label> Направление </label>
                        {{ form.direction }}
                        {{ form.direction.errors.as_ul }}
                    </div>

                    <div class="col-3">
                        <label> Рейс От </label>
                        {{ form.routeFrom }}
                        {{ form.routeFrom.errors.as_ul  }}
                    </div>

                    <div class="col-3">
                        <label> Рейс До </label>
                        {{ form.routeTo}}
                        {{ form.routeTo.errors.as_ul}}
                    </div>

                    <div class="col-3">
                        <label> Клиент  </label>
                        {{ form.client }}
                        {{ form.client.errors.as_ul }}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-default" value="Показать" name="search"/>
            </div>
        </div>

        {% if dict %}
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title m-0"> Долги клиента </h3>
                </div>
                <div class="card-body">

                    <table border="1" width="100%" style="text-align: center; font-size: 96%">
                        <tr>
                            <td colspan="2">{{ inf1 }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table border="1" width="100%">
                                    <tr>
                                        <td valign="top">
                                            <table border="1" width="100%">
                                                <tr>
                                                    <td><B>№</B></td>
                                                    <td><B>дата</B></td>
                                                    <td><B>вес (кг.)</B></td>
                                                    <td><B>количество</B></td>
                                                    <td><B>долг за рейс</B></td>
                                                </tr>
                                                <tr>
                                                    <td align="right" colspan="4">на начало &nbsp; </td>
                                                    <td>{{ beginning }}</td>
                                                </tr>

                                                {% for k, v in dict.items %}
                                                    <tr>
                                                        <td>{{ v.0 }}</td>
                                                        <td>{{ v.1 }}</td>
                                                        <td>{{ v.2 }}</td>
                                                        <td>{{ v.3 }}</td>
                                                        <td>{{ v.4 }}</td>
                                                    </tr>
                                                {% endfor %}

                                            <tr style="font-weight: bold">

                                                        <td align="right" colspan="2">Итого:</td>
                                                        <td>{{ total1.0 }}</td>
                                                        <td>{{ total1.1 }}</td>
                                                        <td>{{ total1.2 }}</td>
                                                    </tr>

                                            </table>
                                        </td>
                                        <td valign="top">
                                            <table border="1" width="100%">
                                                <tr>
                                                    <td><B>ID приходника</B></td>
                                                    <td><B>Рейс</B></td>
                                                    <td><B>погашение</B></td>
                                                    <td><B>дата</B></td>
                                                </tr>
                                                {% for i in income %}
                                                <tr>
                                                    <td>{{ i.0 }}</td>
                                                    <td>
                                                        {{ i.1 }}
                                                    </td>
                                                    <td>{{ i.2 }}</td>
                                                    <td>{{ i.3 }}</td>
                                                </tr>
                                                {% endfor %}
                                                <tr>
                                                    <td colspan="2" align="right"><b>Итого:</b></td>
                                                    <td><b>{{ total2 }}</b></td>
                                                    <td></td>

                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="right"><b>Остаток долг:</b></td>
                            <td><b>{{ remainder_debt }}</b></td>
                        </tr>
                    </table>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success" name="print">
                        <i class="fa fa-print"></i>&nbsp; Печать
                    </button>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}

{% block js %}
    <script src="{% static "js/reports.js" %}"></script>
{% endblock %}

