{% extends 'extends/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block css %}
    <script src="{% static "js/route/createRecTran.js" %}"></script>
    <style>
        .SZ
        { font-size: 90%; /* Размер шрифта в процентах */ }
    </style>
{% endblock %}

{% block content_header %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">Отчет по операциям склада</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'main:home_page' %}">Главная</a></li>
                        <li class="breadcrumb-item active">Отчет по операциям склада</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
     <form method="get">
    <div class="card card-primary card-outline SZ">

        <div class="card-body">

                {% csrf_token %}
                <div class="row">
                    <div class="col-3">
                        <label> Склад </label>
                        {{ form.inner__warehouse|add_class:"form-control"}}
                    </div>
                    <div class="col-3">
                        <label>Наименование</label>
                        {{ form.name|add_class:"form-control" }}
                    </div>
                    <div class="col-3">
                        <label>Операция</label>
                        {{ form.inner__type|add_class:"form-control" }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-6">
                        <div class="input-group">
                            <label> Дата: &nbsp;</label> {{ form.inner__date|add_class:"form-control"}}
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-default"> Показать </button>
                    </div>
                </div>
        </div>
    </div>
    <!------------------------------------------- -->
    {% if page_obj %}

        <div class="card card-primary card-outline">


            <div class="card-header">
                <h3 class="card-title m-0"> Отчет по складам </h3>
                <button type="submit" class="btn btn-success float-right" name="print_button">
                    <i class="fa fa-print"> </i>  Печать
                </button>
            </div>

            <div class="card-body">

                <table class="table table-striped table-bordered">
                    <thead>
                    <tr><th align="center">ID</th>
                        <th align="center">Дата</th>
                        <th align="center">Наименование</th>
                        <th align="center">Количество</th>
                        <th align="center">Цена</th>
                        <th align="center">Статья в кассе</th>
                        <th align="center"></th>
                    </tr></thead>
                    <tbody>
                    {% for i in page_obj %}
                        <tr>
                            <td> {{ i.id }}</td>
                            <td> {{ i.inner.date }}</td>
                            <td> {{ i.name }}</td>
                            <td> {{ i.sum }}</td>
                            <td> {{ i.price }}</td>
                            <td> {{ i.inner.wh_article.name }}</td>
                            <td>
                                {% if i.inner.type == 1 %}
                                    <a href="{% url 'warehouse:wh_incomeId' pk=i.inner.id %}">
                                        <i class="fa fa-eye"></i> </a>
                                {% elif i.inner.type == 2 %}

                                    <a href="{% url 'warehouse:wh_consumptionId' pk=i.inner.id %}">
                                        <i class="fa fa-eye"></i>
                                    </a>

                                {% elif i.inner.type == 3 %}
                                    <a href="{% url 'warehouse:wh_movingId' pk=i.inner.id %}">
                                        <i class="fa fa-eye"></i> </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'paginator.html' %}
        </div>
    {% endif %}
    </form>
{% endblock %}

