{% extends base_template_name %}
{% load static %}
{% load formset_tags %}
{% load widget_tweaks %}
{% block css %}
    <script src="{% static "js/financial/income.js" %}"></script>
{% endblock %}

{% block content_header %}
    <div class="content-header">
        <div class="container-fluid">

            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">{{ text }}</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'main:home_page' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'financial:operations' %}">Список операций</a></li>
                        <li class="breadcrumb-item active">{{ text }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="card card-primary card-outline">
            <div class="card-body">
                {% csrf_token %}
                <div class="row">
                <!--    <div class="col-auto">
                        <label class="required"> Дата </label>
                        {{ form.date }}
                    </div> -->
                    <div class="col-3">
                        <label class="required"> Касса </label>
                        {{ form.cash|add_class:'select2' }}
                    </div>
                    <div class="col-3">
                        <label class="required"> Валюта </label>
                        {{ form.currency|add_class:'select2' }}
                    </div>
                    <div class="col-3">
                        <label class="required"> Статья </label>
                        {{ form.article|add_class:'select2' }}
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <label> Описание </label>
                        {{ form.description }}
                    </div>
                </div>
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="card card-primary card-outline">
            <div id="formset" data-formset-prefix="{{ formset.prefix }}">
                <div class="card-header">
                    <div class="row">
                        <div class="col auto">
                            Получатель
                        </div>
                        <div class="float-right">
                            <input type="button" value="Добавить" class="btn btn-success float-right" data-formset-add>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-5"><b class="required">{{ label }}</b></div>
                        <div class="col-4"><b class="required">Сумма</b></div>
                        <div class="col-1"></div>
                    </div>
                    <br>
                    {{ formset.media }}
                    {{ formset.management_form }}
                    <div data-formset-body id="id_formset_body">
                        {% for form in formset %}
                            <div data-formset-form>
                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field }}
                                {% endfor %}
                                <div class="row">
                                    <div class="col-5">
                                        {{ form.agent |add_class:"form-control select2" }}
                                        {{ form.agent.errors.as_ul }}
                                    </div>
                                    <div class="col-4">
                                        {{ form.sum|add_class:"form-control" }}
                                        {{ form.sum.errors.as_ul }}
                                    </div>
                                    <div class="col-1">
                                        <button type="button"
                                                class="btn btn-danger btn-flat delete_form">
                                            <i class="fa fa-trash-alt"></i></button>
                                        <div hidden="false">{{ form.DELETE }}</div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        {% endfor %}
                    </div>

                    <script type="form-template" data-formset-empty-form>
                        {% escapescript %}
                            <div data-formset-form>
                                {% for hidden_field in formset.empty_form.hidden_fields %}
                                    {{ hidden_field }}
                                {% endfor %}
                                <div class="row">
                                    <div class="col-5">
                                        {{ formset.empty_form.agent |add_class:"form-control select2" }}
                                        {{ formset.empty_form.agent.errors.as_ul }}
                                    </div>
                                    <div class="col-4">
                                        {{ formset.empty_form.sum|add_class:"form-control" }}
                                        {{ formset.empty_form.sum.errors.as_ul }}
                                    </div>
                                    <div class="col-1">
                                        <div hidden="false">{{ formset.empty_form.DELETE }}</div>
                                        <button type="button"
                                                class="btn btn-danger btn-flat delete_form">
                                            <i class="fa fa-trash-alt"></i></button>
                                    </div>
                                </div>
                                <br>
                            </div>
                        {% endescapescript %}
                    </script>
                    <script>jQuery(function($) {
                        $("#formset").formset({
                            animateForms: true
                        });
                    });

                    $('#formset').on('formAdded', function (event) {
                        $(function () {
                            $('.select2').select2();
                        });
                    });

                    jQuery(document).on('click', 'button.delete_form', function(event) {
                            var totalForm = jQuery('#id_formset_body div[data-formset-form]:visible').length;
                            if(totalForm > 1)
                            {
                                var defaultClass = jQuery(this).parent().parent().parent();
                                defaultClass.attr('data-formset-form-deleted', true).hide();
                                defaultClass.find('input[type="checkbox"').attr('checked', 'checked');
                                controllerSum();
                            }
                            else{
                                alert('Вы должны отправить хотя бы одну форму');
                            }
                        });

                    </script>
                </div>
                <div class="card-footer">
                    <div class="row float-right">
                        <div class="col-auto"><b>Сумма:</b></div>
                        <div class="col-auto">{{ form.sum|add_class:"form-control" }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <button type="submit" class="btn btn-success"> Сохранить </button>
            </div>
        </div>

    </form>
{% endblock %}

{% block js %}
{% endblock %}
