{% extends base_template_name %}
{% load static %}
{% load formset_tags %}
{% load widget_tweaks %}
{% block css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
{% endblock %}

{% block content_header %}

    <div class="content-header">
        <div class="container-fluid">

            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Просмотр Количества места</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'main:home_page' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'route:list_route_url' %}">Рейсы</a></li>
                        <li class="breadcrumb-item active">Просмотр Количества мест</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card card-primary card-outline">
        <form method="post">
            {% csrf_token %}
            <div class="card-header">

                <div class="btn-group">
                <button type="submit" class="btn btn-success print" name="print">
                    <i class="fa fa-fw fa-print"></i> Печать
                </button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="dropdown-item" href="{% url 'route:route_bag_report_old' routeID %}"><i class="fa fa-eye"></i> Отчет по сумкам (старый)</a></li>
                    <li><a class="dropdown-item" href="{% url 'route:route_bag_report' routeID %}"><i class="fa fa-eye"></i> Отчет по сумкам </a></li>
                    <li><a class="dropdown-item"
                           {% if user.role == 1 or user.role == 5%}
                           href="{% url 'route:route_num_places' routeID %}"
                            {% elif user.role == 6 %}
                           href="{% url 'route:route_num_places_client' routeID %}"
                            {% endif %}
                    ><i class="fa fa-eye"></i> Количество мест </a></li>
                    <li><a class="dropdown-item" href="{% url 'route:route_num_places_agent' routeID %}"><i class="fa fa-eye"></i> Количество мест (По контрагентам)</a></li>
                    <li><a class="dropdown-item" href="{% url 'route:route_count_products' routeID %}"><i class="fa fa-eye"></i> Количество товара </a></li>
                </ul>
            </div>

            </div>
            <div class="card-body">
                <br>
                <h5 style="text-align: center"> {{ routeInf }} </h5>

                <div id="idFormset" data-formset-prefix="{{ formset.prefix }}">
                    {{ formset.media }}
                    {{ formset.management_form }}
                    <div data-formset-body>
                        <table border="1" width="100%">
                            <thead align="center">
                            <th>№</th>
                            <th>Код</th>
                            <th>Получатель</th>
                            <th>рынок</th>
                            <th>контейнер</th>
                            <th>ряд</th>
                            <th>Места</th>
                            <th>Вес</th>
                            <th>Сумма</th>
                            <th>Агент</th>
                            <th>Разгрузка</th>
                            </thead>
                            <tbody style="font-size: 90%">
                            {% for ob in obj %}
                                <div data-formset-form>

                                 {% for hidden_field in ob.1.hidden_fields %}
                                    {{ hidden_field }}
                                {% endfor %}

                                    <tr>
                                        {% for o in ob.0 %}
                                            <td> {% if o %} {{ o }} {% endif %}</td>
                                        {% endfor %}
                                        <td>
                                            <div>{{ ob.1.agent }}</div>
                                            {{ ob.1.agent.errors  }}
                                        </td>
                                        <td>
                                            {{ ob.1.unloading }}
                                            {{ ob.1.unloading.errors  }}
                                        </td>
                                    </tr>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <input type="submit" class="btn btn-default" value="Сохранить">
            </div>

        </form>
    </div>
{% endblock %}

