{% extends base_template_name %}
{% load static %}
{% load widget_tweaks %}

{% block content_header %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Изменение пароля</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'main:home_page' %}">Главная</a></li>
                        <li class="breadcrumb-item active">Изменение пароля</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="card card-primary card-outline">

        <form method="POST">

            <div class="card-body">
                {% csrf_token %}
                <p>
                    Пожалуйста, введите свой старый пароль в целях безопасности, а затем дважды введите
                    новый пароль, чтобы мы могли проверить, правильно ли вы ввели его.
                </p>
                <br>
                <label>Прежний пароль:</label>
                {{ form.old_password|add_class:"form-control col-5" }}
                {{ form.old_password.errors }}
                <br>
                <label for="id_new_password1">Новый пароль:</label>
                {{ form.new_password1|add_class:"form-control col-5" }}

                {% for error in form.new_password1.errors %}
                    <p> {{ error }}</p>
                {% endfor %}
                <small class="form-text text-muted">
                    <ul>
                        <li>Ваш пароль не может быть слишком похож на вашу другую личную информацию.</li>
                        <li>Ваш пароль должен содержать не менее 8 символов.</li>
                        <li>Ваш пароль не может быть обычным паролем.</li>
                        <li>Ваш пароль не может быть полностью числовым.</li>
                    </ul>
                </small>
                <label for="id_new_password2">Подтверждение нового пароля:</label>

                {{ form.new_password2|add_class:"form-control col-5" }}
                {{ form.new_password2.errors }}
                <br>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </form>
    </div>

{% endblock %}