{% extends base_template_name %}
{% block css %}
    <style>
        div.FS {
            font-size: 93%;
            font-family: "Times New Roman", Times, serif; }
        table{
            table-layout: fixed;}
    </style>
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static "js/route/show_route_ID.js" %}"></script>
{% endblock %}

{% block content_header %}

    <div class="content-header">
        <div class="container-fluid">

            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Просмотр акта</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'main:home_page' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'route:list_route_url' %}">Рейсы</a></li>
                        <li class="breadcrumb-item active">Просмотр акта</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <script type="text/javascript">
        var url = "{% url "route:show_routeRT_url" %}";
    </script>
    <div class="card card-primary card-outline">

        <div class="card-body FS">

        {% if RT|length %}
            <div class="btn-group">
                <a class="btn btn-success print" href="{% url 'route:print_routeID_url' pk=routeID %}">
                    <i class="fa fa-fw fa-print"></i> Печать
                </a>
                <button type="button" class="btn btn-success dropdown-toggle"
                        data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a class="dropdown-item" href="{% url 'route:route_bag_report_old' routeID %}">
                        <i class="fa fa-eye"></i> Отчет по сумкам (старый)
                    </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'route:route_bag_report' routeID %}">
                            <i class="fa fa-eye"></i> Отчет по сумкам
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                           {% if user.role == 1 or user.role == 5%}
                           href="{% url 'route:route_num_places' routeID %}"
                            {% elif user.role == 6 %}
                           href="{% url 'route:route_num_places_client' routeID %}"
                            {% endif %}>
                            <i class="fa fa-eye"></i> Количество мест
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'route:route_num_places_agent' routeID %}">
                            <i class="fa fa-eye"></i> Количество мест (По контрагентам)
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'route:route_count_products' routeID %}">
                            <i class="fa fa-eye"></i> Количество товара
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}

            <h5 style="text-align: center"> {{ routeInf }} </h5>

            <table width="100%" border="1" class="show">
                <tbody>
                <tr>
                    <td align="center" width="5%"><b>код</b></td>
                    <td align="center"><b>Рынок</b></td>
                    <td align="center" width="20%"><b>Получатель</b></td>
                    <td align="center" width="25%"><b>наименование</b></td>
                    <td align="center" width="7%"><b>кол-во</b></td>
                    <td align="center"width="7%"><b>вес</b></td>
                    <td align="center" width="8%"><b>№сумки</b></td>
                    <td align="center" width="22%"><b>Отправитель</b></td>
                </tr>
                {% for rt in RT %}
                    <tr class="lines">
                        <td width="3%" align="center" valign="top" class="client_id">
                            {{ rt.recTran.recipient.pk }}
                        </td>
                        <td align="center">
                            {% if rt.recTran.recipient.store %} {{ rt.recTran.recipient.store }} {% endif %}
                        </td>
                        <td width="20%" align="center">{{ rt.recTran.recipient.fullname }}
                            <br>{{ rt.recTran.recipient.phone }}	</td>
                        <td colspan="4">
                            <table border="1" width="100%">
                                <tbody>
                                {% for p in rt.products.all %}
                                    <tr>
                                        <td width="25%" align="center"><small>{{ p.product.name|stringformat:".33s..."}}</small></td>
                                        <td width="7%" align="center">
                                            <small>{{ p.count }}</small>
                                        </td>
                                        <td width="7%" align="center">
                                            <small>{{ p.weight }}</small>
                                        </td>
                                        <td width="7%" align="center">
                                            <small>{{ p.bag_number }}</small>
                                        </td>
                                    </tr>
                                {% endfor %}

                                <tr>
                                    <td width="25%" align="center">
                                        <small><b>Итого к оплате: {{ rt.remainder }}</b></small>
                                        <button type="button" class="btn display d-inline-flex" style="background-color:transparent; border-color: transparent" onclick="OpenModal({{ rt.recTran.pk }})">
                                            <i class="fa fa-eye"></i>
                                        </button>

                                    </td>
                                    <td width="7%" align="center">
                                        <b> {{ rt.SumCount }}</b>
                                    </td>
                                    <td width="7%" align="center">
                                        <b>{{ rt.SumWeight  }}</b>
                                    </td>
                                    <td width="7%" align="center">
                                        <b>{{ rt.CounterBagNumber }}</b>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td width="22%" align="center">{{ rt.recTran.sender.fullname }}<br>
                            {% if rt.recTran.sender.phone %}
                                {{ rt.recTran.sender.phone }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% for i in general %}
                <tr class="lines">
                        <td width="3%" align="center" valign="top" class="client_id">
                        </td>
                        <td align="center">
                        </td>
                        <td width="20%" align="center">{{ 'Общий' }}
                        <td colspan="4">
                            <table border="1" width="100%">
                                <tbody>
                                <tr>
                                    <td width="25%" align="center">
                                        <b>Итого к оплате: {{ i.gRemainder }}</b>
                                    </td>
                                    <td width="7%" align="center">
                                        <b> {{ i.gCount }}</b>
                                    </td>
                                    <td width="7%" align="center">
                                        <b>{{ i.gWeight }}</b>
                                    </td>
                                    <td width="7%" align="center">
                                        <b>{{ i.gBag_number }}</b>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- ------------------------------------ -->

            <div class="modal fade" id="modal-lg">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" align="center">Информация об Акте</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <h1 align="center">"Amanat cargo"</h1>
                            <div class="row">
                                <div class="col-2"> <label> Акт №: </label> </div>
                                <div class="col-3"> <label>Рейс №:</label> </div>
                                <div class="col-2"> <label> </label> </div>
                                <div class="col-3"> <label> дата </label> </div>
                                <div class="col-2"> <label> время </label> </div>
                            </div>
                            <div class="row">
                                <div class="col-2" id="rt_number"></div>
                                {%for route in general%}
                                <div class="col-3" id="route_number">{{route.routeID}}</div>
                                {% endfor %}
                                <div class="col-2" id="regist"></div>
                                <div class="col-3" id="date"></div>
                                <div class="col-2" id="time"></div>
                            </div>
                            <br>
                            <! ------------------------------------ ->
                            <h6 align="center"><b> Акт приема-передачи товара </b> </h6>

                            <table width="100%" border="1" cellspacing="5" cellpadding="5">
                                <thead>
                                <tr>
                                    <td align="center"><b>Наименование товара</b></td>
                                    <td align="center"><b>Код ТНВД</b></td>
                                    <td align="center"><b>№ сумки</b></td>
                                    <td align="center"><b>Кол-во</b></td>
                                    <td align="center"><b>Вес</b></td>
                                </tr>
                                </thead>
                                <small><tbody id="idBody">

                                </tbody></small>
                            </table>
                            <! -------------------------------------->
                            <br>
                            <h6 align="center"> <b>Примечание: </b></h6>
                            <table width="100%" border="1" cellspacing="5" cellpadding="5">
                                <thead>
                                <tr>
                                    <td align="center" width="20%"><b>Услуги</b></td>
                                    <td align="center"><b>Кол-во</b></td>
                                    <td align="center"><b>Цена({{ currency_recipient}})</b></td>
                                    <td align="center"><b>Цена(сом)</b></td>
                                    <td align="center"><b>Сумма({{ currency_recipient}})</b></td>
                                    <td align="center"><b>Сумма(сом)</b></td>
                                    <td align="center"><b>Оплата</b></td>
                                </tr>
                                </thead>
                                <tbody id="idBodyServices">

                                </tbody>
                            </table>
                            <br>

                            <table width="100%">
                                <tbody>
                                <tr>
                                    <td width="30%" valign="top">Грузополучатель:</td>
                                    <td width="70%">
                                        <table width="100%">
                                            <tbody>
                                            <tr>
                                                <td id="recipient_fullname"></td>
                                                <td></td>
                                                <td id="recipient_phone"></td>
                                                <td align="right"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%"></td>
                                    <td width="70%">
                                        <table width="100%">
                                            <tbody><tr>
                                                <td>г.: Москва</td>
                                                <td>рынок.: Люблино</td>
                                                <td>ряд: 2</td>
                                                <td>конт.: 4-17</td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" style="border: 1px solid #000;"><b>ИНН: </b></td>
                                    <td width="70%" style="border: 1px solid #000;"><b>ОГРНИП: </b></td>
                                </tr>
                                </tbody>
                            </table>
                            <br>

                            <table width="100%">
                                <tbody><tr>
                                    <td width="30%" valign="top">Грузоотправитель:</td>
                                    <td width="70%">
                                        <table width="100%">
                                            <tbody><tr>
                                                <td id="sender_fullname"></td><td>
                                            </td><td align="right" id="sender_phone"></td>
                                                <td align="right">_________</td>
                                            </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" style="border: 1px solid #000;"><b>ИНН: </b></td>
                                    <td width="70%" style="border: 1px solid #000;"><b>ОКПО, № патента: </b></td>
                                </tr>
                                </tbody></table>
                            <br>

                            <table width="100%">
                                <tbody><tr>
                                    <td width="30%">Кассир-оператор:</td>
                                    <td width="30%" align="left" id="operator_fullname"></td>
                                    <td width="20%" align="right" valign="bottom" style="border-bottom: 1px solid #000;"></td>
                                </tr>
                                </tbody></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
